In [2]:
import pandas as pd

In [3]:
games = pd.read_csv("games.csv")
items = pd.read_csv("user_items.csv")
reviews = pd.read_csv("user_reviews.csv")

In [ ]:
games

In [19]:
reviews

                 user_id  item_id  recommend  year_posted  sentiment_analysis
0      76561197970982479     1250          1         2011                   2
1      76561197970982479    22200          1         2011                   2
2      76561197970982479    43110          1         2011                   1
3                js41637   251610          1         2014                   2
4                js41637   227300          1         2013                   1
...                  ...      ...        ...          ...                 ...
48493            wayfeng      730          1         2015                   1
48494  76561198251004808   253980          1         2015                   2
48495        72947282842      730          1         2015                   0
48496          ApxLGhost      730          1         2015                   2
48497  76561198267374962   369200          1         2015                   2

[48498 rows x 5 columns]

In [18]:
items

                   user_id  item_id  playtime_forever
0        76561197970982479       10               6.0
1        76561197970982479       30               7.0
2        76561197970982479      300            4733.0
3        76561197970982479      240            1853.0
4        76561197970982479     3830             333.0
...                    ...      ...               ...
3246357  76561198329548331   304930             677.0
3246358  76561198329548331   227940              43.0
3246359  76561198329548331   388490               3.0
3246360  76561198329548331   521570               4.0
3246361  76561198329548331   519140               3.0

[3246362 rows x 3 columns]

In [7]:
# Selecciona solo las columnas 'user_id', 'item_id', 'playtime_forever' del DataFrame 'items'.
items = items[['user_id', 'item_id', 'playtime_forever']]

# Convierte la columna a tipo cadena.
items['item_id'] = items['item_id'].astype(str)

# Crea una nueva columna 'id' concatenando 'user_id' y 'item_id'.
items['id'] = items['user_id'] + items['item_id']

# Convierte las columnas a tipo cadena.
games['item_id'] = games['item_id'].astype(str)
reviews['item_id'] = reviews['item_id'].astype(str)

# Crea una nueva columna 'id' en el DataFrame 'reviews' concatenando 'user_id' y 'item_id'.
reviews['id'] = reviews['user_id'] + reviews['item_id']

In [8]:
# Realiza un merge entre los DataFrames 'reviews' y 'games' basándose en la columna 'item_id'.
merged_df = reviews.merge(games, on='item_id', how='left')

# Elimina filas con valores nulos en el DataFrame resultante.
merged_df.dropna(inplace=True)

# Realiza un merge entre los DataFrames 'items' y 'merged_df' basándose en la columna 'id'.
steam = items.merge(merged_df, on='id')

# Renombra las columnas 'user_id_x' y 'item_id_x' en 'steam'.
steam = steam.rename(columns={'user_id_x': 'user_id', 'item_id_x': 'item_id'})

# Elimina las columnas 'user_id_y' e 'item_id_y' en 'steam'.
steam.drop('user_id_y', axis='columns', inplace=True)
steam.drop('item_id_y', axis='columns', inplace=True)

In [9]:
# Convierte las columnas a tipo entero.
steam['release_date'] = steam['release_date'].astype(str)
steam['year_posted'] = steam['year_posted'].astype(str)
steam['playtime_forever'] = steam['playtime_forever'].astype(int)
steam["release_date"] = steam["release_date"].astype(int)

# Selecciona las columnas específicas en el DataFrame 'steam'.
steam = steam[['id', 'user_id', 'item_id', 'title', 'genre', 'developer', 'release_date', 'price', 'recommend', 'year_posted', 'sentiment_analysis', 'playtime_forever']]


steam.to_csv('data_steam.csv', index=False)

In [10]:
steam

,id,user_id,item_id,title,genre,developer,release_date,price,recommend,year_posted,sentiment_analysis,playtime_forever
0,7656119797098247922200,76561197970982479,22200,Zeno Clash,Action,ACE Team,2009.0,9.99,1,2011,2,271
1,765611979709824791250,76561197970982479,1250,Killing Floor,Action,Tripwire Interactive,2009.0,19.99,1,2011,2,10006
2,js41637227300,js41637,227300,Euro Truck Simulator 2,Indie,SCS Software,2013.0,19.99,1,2013,1,551
3,js41637239030,js41637,239030,"Papers, Please",Adventure,3909,2013.0,9.99,1,2013,1,349
4,evcentric107200,evcentric,107200,Space Pirates and Zombies,Action,MinMax Games Ltd.,2011.0,9.99,1,2014,2,3225
...,...,...,...,...,...,...,...,...,...,...,...,...
30173,76561198239215706730,76561198239215706,730,Counter-Strike: Global Offensive,Action,Valve,2012.0,14.99,1,2015,1,4659
30174,wayfeng730,wayfeng,730,Counter-Strike: Global Offensive,Action,Valve,2012.0,14.99,1,2015,1,42740
30175,76561198251004808253980,76561198251004808,253980,Enclave,RPG,Starbreeze,2003.0,4.99,1,2015,2,1098
30176,72947282842730,72947282842,730,Counter-Strike: Global Offensive,Action,Valve,2012.0,14.99,1,2015,0,33
30177,ApxLGhost730,ApxLGhost,730,Counter-Strike: Global Offensive,Action,Valve,2012.0,14.99,1,2015,2,10121